<div class="col-md-12">
  <div class="store">
    <%= link_to("Delete", group_store_path(@group, @store), class: "btn btn-danger pull-right", method: :delete, data: { confirm: "Are you sure?" } )%>
    <%= link_to("Edit", edit_group_store_path(@group, @store), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @store.title %></h2>
  <ul>
    <li>電話：<%= @store.phone %></li>
    <li>市話：<%= @store.landline %></li>
    <li>地址：<%= @store.location %></li>
  </ul>
</div>
