<div class="col-md-12">
  <div class="store">
    <%= link_to("New Client", new_store_client_path(@store), class: "btn btn-success pull-right") %>
    <%= link_to("New Order",  store_clients_path(@store),  class: "btn btn-success pull-right") %>
    <% if policy(:store).group_manager? %>
      <%= link_to("Delete", group_store_path(@group, @store), class: "btn btn-danger pull-right", method: :delete, data: { confirm: "Are you sure?" } ) %>
    <% end %>
    <%= link_to("Edit", edit_group_store_path(@group, @store), class: "btn btn-primary pull-right") %>
    <%= link_to("Fetch", store_clients_path(@store), class: "btn btn-warning pull-right") %>
  </div>
  <h2><%= @store.title %></h2>
  <ul>
    <li>電話：<%= @store.phone %></li>
    <li>市話：<%= @store.landline %></li>
    <li>地址：<%= @store.location %></li>
  </ul>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Order Id</td>
        <td>客戶</td>
        <td>總價</td>
        <td>狀態</td>
        <td>送洗日期</td>
        <td>取件日期</td>
      </tr>
    </thead>
    <tbody>
      <% @orders.each_with_index do |order, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to(order.id, store_order_path(@store, order)) %></td>
          <td><%= link_to(order.client.name, store_client_path(@store, order.client)) %></td>
          <td><%= currency(order.price) %></td>
          <td><%= order.status %></td>
          <td><%= strftime(order.created_at) %></td>
          <td><%= strftime(order.fetched_at) %></td>
          <td>
            <%= link_to("Fetch", held_store_client_path(@store, order.client), class: "btn btn-sm  btn-warning") %>
            <%= link_to("Edit", edit_store_order_path(@store, order), class: "btn btn-sm btn-primary") %>
            <%= link_to("Delete", store_order_path(@store, order), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
