<div class="col-md-12">
  <div class="group">
    <% if policy(:group).admin? %>
      <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>
    <% if policy(:group).group_manager? %>
      <%= link_to("New Store", new_group_store_path(@group), class: "btn btn-success pull-right")%>
    <% end %>
  </div>
  <h2><%= @group.title %></h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
      </tr>
    </thead>
    <tbody>
      <% @group.stores.each_with_index do |store, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to(truncate(store.title, length: 15), group_store_path(@group, store)) %></td>
          <td>
            <% if policy(:store).group_manager? %>
              <%= link_to("Edit", edit_group_store_path(store.group, store), class: "btn btn-sm btn-default") %>
              <%= link_to("Delete", group_store_path(store.group, store),    class: "btn btn-sm btn-default", method: :delete, data: { confirm: "Are you sure?" } )%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
