<%= simple_form_for [@store, @client] do |f| %>
  <div class="form-store">
    <%= f.input :name,    input_html: { class: "form-control"}, autofocus: true, required: true %>
    <%= f.input :phone,   input_html: { class: "form-control"}, required: true %>
    <%= f.input :address, input_html: { class: "form-control"} %>
    <%= f.input :balance, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
