<div class="col-md-6 col-md-offset-3">
  <h1>取件</h1>
  <hr>

  <%= form_tag fetch_store_client_path(@store, @client) do |f| %>
    <%= submit_tag("Fetch", class: "btn btn-warning") %>
    <table class="table top-buffer">
      <thead>
        <th></th>
        <th>Order Id</th>
        <th>Cloth</th>
        <th>Price</th>
        <th>Status</th>
        <th>Created At</th>
      </thead>
      <tbody>
        <% orders = @finished_items.pluck(:order_id).uniq %>
        <% @finished_items.each do |item| %>
          <%= content_tag :tr, class: (orders.find_index(item.order_id).odd? ? "fields odd" : "fields") do %>
            <td><%= check_box_tag "items[]", item.id.to_i %></td>
            <td><%= item.order_id %></td>
            <td><%= item.cloth_title %></td>
            <td><%= item.price %></td>
            <td><%= item.status %></td>
            <td><%= strftime(item.created_at) %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <hr>
  <table class="table top-buffer">
    <thead>
      <th>Feteh At</th>
      <th>Order Id</th>
      <th>Cloth</th>
      <th>Price</th>
      <th>Status</th>
      <th>Created At</th>
    </thead>
    <tbody>
      <% @nofinish_items.each do |item| %>
        <%= content_tag :tr, class: (item.out? ? "fields odd" : "fields") do %>
          <td><%= strftime(item.fetched_at) %></td>
          <td><%= item.order_id %></td>
          <td><%= item.cloth_title %></td>
          <td><%= item.price %></td>
          <td><%= item.status %></td>
          <td><%= strftime(item.created_at) %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
