<div class="col-md-12 bottom-buffer">
  <div class="client">
    <% if policy(:store).manager? %>
      <%= link_to("New Client", new_store_client_path(@store), class: "btn btn-success pull-right") %>
    <% end %>
  </div>
</div>

<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Client Name</td>
      </tr>
    </thead>
    <tbody>
      <% @clients.each_with_index do |client, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to(client.name, store_client_path(@store, client)) %></td>
          <td>
            <%= link_to("Edit", edit_store_client_path(@store, client), class: "btn btn-sm btn-primary") %>
            <% if policy(:store).manager? %>
              <%= link_to("Delete", store_client_path(@store, client), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } ) %>
              <%= link_to("New Order", new_store_order_path(@store, client_id: client.id), class: "btn btn-sm btn-success") %>
            <% end %>
            <%= link_to("Fetch", held_store_client_path(@store, client), class: "btn btn-sm btn-warning") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
