<div class="col-md-12 bottom-buffer">
  <div class="client">
    <% if policy(:store).manager? %>
      <%= link_to("Delete", store_client_path(@store, @client), class: "btn btn-danger pull-right", method: :delete, data: { confirm: "Are you sure?" } ) %>
      <%= link_to("Edit", edit_store_client_path(@store, @client), class: "btn btn-primary pull-right") %>
      <%= link_to("New Order", new_store_order_path(@store, client_id: @client.id), class: "btn btn-success pull-right") %>
      <%= link_to("Fetch", held_store_client_path(@store, @client), class: "btn btn-warning pull-right") %>
    <% end %>
  </div>
  <h2><%= @client.name %></h2>
  <ul>
    <li>電話：<%= @client.phone %></li>
    <li>地址：<%= @client.address %></li>
    <li>餘額：<%= currency(@client.balance, @store.group.precision) %></li>
  </ul>
</div>

<div class="col-md-12 bottom-buffer">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Id</td>
        <td>總價</td>
        <td>狀態</td>
        <td>送洗日期</td>
        <td>取件日期</td>
      </tr>
    </thead>
    <tbody>
      <% @client.orders.each_with_index do |order, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to(order.id, store_order_path(@store, order)) %></td>
          <td><%= currency(order.price, @store.group.precision) %></td>
          <td><%= order.status %></td>
          <td><%= strftime(order.created_at) %></td>
          <td><%= strftime(order.fetched_at) %></td>
          <td>
            <% if policy(:store).manager? %>
              <%= link_to("Fetch", held_store_client_path(@store, order.client), class: "btn btn-sm  btn-warning") %>
              <%= link_to("Edit", edit_store_order_path(@store, order), class: "btn btn-sm btn-primary") %>
              <%= link_to("Delete", store_order_path(@store, order), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to('客戶列表', store_clients_path(@store), class: "btn btn-default") %>
