<div class="col-md-12 bottom-buffer">
  <div class="order">
    <% if policy(:store).manager? %>
      <%= link_to("Delete", store_order_path(@store, @order), class: "btn btn-danger pull-right", method: :delete, data: { confirm: "Are you sure?" } )%>
      <%= link_to("Edit", edit_store_order_path(@store, @order), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2>Order Id：<%= @order.id %></h2>
  <ul>
    <li>客戶：<%= @order.client.name %></li>
    <li>總價：<%= number_to_currency @order.price %></li>
    <li>日期：<%= @order.created_at.strftime('%F %r 星期%w') %></li>
  </ul>
</div>

<%= link_to('訂單列表', group_store_path(@group, @store), class: "btn btn-default") %>
