<%= simple_nested_form_for [@store, @cloth] do |f| %>
  <div id="wash_ways" class="form">
    <%= f.input :title, autofocus: true, required: true, label: false, placeholder: 'Cloth Title' %>
    <div class="top-buffer">
      <div class="row">
        <div class="col-md-2">
          <%= f.link_to_add "Add Cloth Way", :wash_ways, :data => { :target => "#wash_ways" }, class: "btn btn-success bottom-buffer" %>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-5"><h4>Title</h4></div>
        <div class="col-md-5"><h4>Price</h4></div>
      </div>
      <%= f.simple_fields_for :wash_ways, :wrapper => false do |wash_way| %>
        <div class="row fields">
          <div class="col-md-5"><%= wash_way.input :title, label: false %></div>
          <div class="col-md-5"><%= wash_way.input :price, label: false %></div>
          <div class="col-md-2"><%= wash_way.link_to_remove "Remove", class: 'btn btn-danger' %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row text-center top-buffer">
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  </div>
<% end %>
